@import '../sass/_globals.scss';

$bullet-size: 18px;
$bullet-dot-size: 10px;

.order-filters {
  display: flex;
  list-style: none;
  justify-content: right;
  margin-bottom: 30px;
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  li {
    display: flex;
    align-items: center;
    padding: 5px 0;
    position: relative;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      cursor: pointer;
    }

    .bullet {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: $bullet-size;
      height: $bullet-size;
      margin-right: 5px;
      border: 1px solid #fff;
      border-radius: $bullet-size;
      box-sizing: border-box;

      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $bullet-dot-size;
        height: $bullet-dot-size;
        background: #fff;
        opacity: 0;
        border-radius: $bullet-size;
      }
    }

    @each $key, $value in $statuses {
      &.filter-#{$key} {
        .bullet {
          background: $value;
        }

        &.active {
          .bullet {
            > span {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
