@import './sass/mixins.scss';

.App {
  background: #272727;
  color: #fff;
  min-height: 100vh;

  .container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .flex-grid {
    display: flex;
  }
}

@include generate-grid-cols(900, 10);
